body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}
h3 {
    font-weight: bolder;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
button:hover {
    border: 1px solid black;
}
#table {
    display: flex;
    justify-content: center;
}
.hands {
    display: block;
    margin: 50px;
}
#player-id {
}
#dealer-id {
}